# logs
realtimesst.log*

#.pyc
__pycache__/

# environment variables
.env
.env.production

# macOS
.DS_Store

#stt module
RealtimeSTT/
SenseVoice

#core
gsq_finetuned_model/
gsq_lora_adapter/
qwen_lora_adapter/
qwen_lora_model/
gsq_lora_adapter_blossom_backup

#vision
detections_log.json