# logs
realtimesst.log*
runs/

#.pyc
__pycache__/

# environment variables
.env
.env.production
.vscode

# macOS
.DS_Store

#stt module
RealtimeSTT/
SenseVoice

#core
gsq_finetuned_model/
gsq_lora_adapter/
qwen_lora_adapter/
qwen_lora_model/
gsq_lora_adapter_blossom_backup
gsq_lora_adapter_koalpaca/
gsq_lora_beomi7b_out/

#vision
detections_log.json

#TTS
yomi_core/tts/checkpoints/
yomi_core/tts/example/filelists/