torch
torchaudio
transformers
datasets
peft
sounddevice
simpleaudio
pyaudio
soundfile
scipy
webrtcvad
pvporcupine
openwakeword
faster-whisper
funasr
wheel
halo
tqdm
python-dotenv
websocket-client
numpy
matplotlib
realtimetts[all]
ffmpeg
charset_normalizer
cv2